---
import Layout from "../layouts/Layout.astro";
import ProjectCards from "../components/ProjectCards.astro";
---

<Layout title="MK | Muzamil Khan">
  <article class="flex flex-col text-white">
    <h1 class="mb-10 font-bold text-2xl text-[#93A3B8]">Projects</h1>
    <ProjectCards />
  </article>
</Layout>
