---
import presentation from "../data/presentation";
---

<header class="z-40 flex w-full items-center flex-row gap-2 justify-between">
  <a
    href="/"
    class="transition ease-in-out hover:text-[#79889b] text-4xl text-white font-bold"
  >
    {presentation.logo}
  </a>

  <ul role="list" class="flex items-center gap-8">
    <li>
      <a
        href="/"
        class:list={{
          ["text-base text-white font-bold transition ease-in-out hover:text-[#79889b]"]: true,
        }}>Home</a
      >
    </li>
    <li>
      <a
        href="/projectpage"
        class:list={{
          ["text-base text-white font-bold transition ease-in-out hover:text-[#79889b]"]: true,
        }}>Projects</a
      >
    </li>
  </ul>
</header>
